.product-navidium-shipping-protection {
  display: none !important;
}

/* Start Header Cart Count Label */
.Header .Header__FlexItem .Header__Icon .cart_count_bar {
  position: absolute;
  top: -15px;
  right: -10px;
  background: #FFF9DE;
  border-radius: 20px;
  padding: 6px;
}
.Header .Header__FlexItem .Header__Icon .cart_count {
  font-size: 10px;
}
/* End Header Cart Count Label */

/* Start Product page description */
.Product__Wrapper .Product__InfoWrapper .ProductMeta__Description ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Product__Wrapper .Product__InfoWrapper .ProductMeta__Description ul li {
  padding: 0;
}
/* End Product page description */

/* Start paypal label in product page */
.Product__Info .ProductForm .hc-shop-pay-installments {
  padding-top: 100px;
}

@media (max-width: 640px) {
  .Product__Info .ProductForm .hc-shop-pay-installments {
    padding-top: 20px;
  }
}
/* End paypal label in product page */

